<div class="main-content">
	<div class="section-dark" id="what-we-do">
		<div class="container">
			<div class="columns is-multiline is-vcentered">
				<div class="column is-12 ">
					<h1 class="title has-text-centered section-title mt-5">
						What We Do
					</h1>
				</div>
				<div class="column is-10 has-text-centered is-offset-1">
					<h2 class="subtitle">
						We create solutions for insurance company
					</h2>

				</div>
			</div>
		</div>
	</div>

	<div class=" services mt-6" id="services">
		<div class="container">
			<div class="columns is-multiline mt-6">
				<div class="column is-12 ">
					<h1 class="title has-text-centered section-title mb-6">Services</h1>

					<h2 class="subtitle has-text-centered">
						You take care of your Business, We take care of your Systems.
					</h2>
					<br/>
				</div>
				<hr class="line"/>
				<div class="columns is-12">
					<div class="column is-4 has-text-centered">
						<i class="fas fa-upload fa-3x"></i>
						<hr class="line"/>
						<h2>
							we develop software through an agile process of successive phases where we not only understand the
							requirements and create the program but also align to the business objectives. We understand the
							complexity of modern systems and have an orderly development process to simplify them for our clients.
						</h2>
					</div>
					<div
						class="column is-4 has-text-centered">
						<i class="fas fa-bus fa-3x"></i>
						<hr class="line"/>
						<h2>
							Our decades of experience help us deliver dynamic changes in the shortest span of time possible. In order
							to help our clients keep pace with constantly changing business processes, we offer upgrades and develop
							enhancements even for legacy applications.
						</h2>
					</div>
					<div class="column is-4 has-text-centered">
						<i class="fas fa-columns fa-3x"></i>
						<hr class="line"/>
						<h2 class="mb-5">
							Consumers’ expectations are on the rise for connected mobile services with the advent of smart devices and
							appliances. The time is ripe for you to start producing mobile applications that are at par with industry
							standards and your customers’ expectations.
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>


