<div class="container">
	<h3 class="is-size-3 has-text-centered mb-6">
		<strong>Let's Connect</strong>
	</h3>

	<div class="contact_form pb-6">
		<div class="columns">
			<div class="column is-5">
				<div class="contact_img_wrapper">
					<%= image_tag('resume.png') %>
				</div>
				<p class="has-text-black paragraph has-text-centered" style="padding-top: 10px;">
					One of our team members will contact you soon
					<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>

				</p>
			</div>

			<div class="column ml-5">
				<% if @contact.errors.any? %>
					<% @contact.errors.full_messages.each do |message| %>
						<p class="help is-danger my-0"><%= message %></p>
					<% end %>
				<% end %>
				<form action="/contact" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<div class="field">
						<label class="label">Name</label>
						<div class="control">
							<input class="input" type="text" placeholder="Karl Max" name="name">
						</div>
					</div>
					<div class="field">
						<label class="label">Email</label>
						<div class="control">
							<input class="input" type="email" placeholder="info@gmail.com" name="email">
						</div>

						<div class="field">
							<label class="label">Subject</label>
							<div class="control">
								<input class="input" type="text" placeholder="Type subject" name="subject">
							</div>
						</div>

						<div class="field">
							<label class="label">Message</label>
							<div class="control">
								<textarea class="textarea" rows="6" placeholder="Message" name="message"></textarea>
							</div>
						</div>
						<div class="field is-grouped">
							<div class="control">
								<button class="button is-primary" type="submit">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>


	</div>
</div>
