
<section>
	<div class="container">
		<div class="columns reverse-row-order is-desktop is-vcentered">
			<div class="column">
				<h1 class="title">Step one</h1>
				<p class="has-text-black paragraph">
					Register an account with us.
				</p>
			</div>
			<div class="column">
				<div class="img_wrapper">
					<%= image_tag('form.png')%>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="container">
		<div class="columns reverse-row-order is-desktop is-vcentered">
			<div class="column">
				<div class="img_wrapper">
					<%= image_tag('envelope.png')%>
				</div>
			</div>
			<div class="column">
				<h1 class="title">Step two</h1>
				<h2 class="has-text-black">
					Get an activation code by email.
				</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="columns reverse-row-order is-desktop is-vcentered">
			<div class="column ">
				<h1 class="title">Step three</h1>
				<p class="has-text-black paragraph">
					Sign in and start using the application
				</p>
			</div>
			<div class="column">
				<div class="img_wrapper">
					<%= image_tag('completed.png')%>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
</section>



