<div class="container py-6">
	<div class="columns is-multiline is-mobile ">
		<div class="column is-half is-offset-one-quarter">
			<h3 class="title is-3 has-text-centered is-capitalized ">Forgot Password</h3>
			<hr class="mb-4">
			<div class="card">
				<div class="card-content">
					<div class="content">
						<form action="/reset/password?token=<%=@token %>" method="post">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<div class="field">
								<label class="label">Password</label>
								<p class="control ">
									<input class="input" type="password" placeholder="Password" name="password">
								</p>
							</div>

							<div class="field">
								<label class="label">Confirm</label>
								<p class="control">
									<input class="input" type="password" placeholder="Confirm" name="password_confirmation">
								</p>
							</div>
							<div class="field">
								<p class="control">
									<button class="button is-primary" type="submit">
										Update password
									</button>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

