<div class="container mt-4">
	<div class="columns">
		<div class="column is-one-quarter">
			<%= render partial: "partials/employee_nav" %>
		</div>
		<div class="column">
			<div class="card px-5 card_wrapper">
				<div class="card-content">
					<div class="content">
							<%= form_for(@user, url: company_employee_password_path(params[:id])) do |f| %>
							<% if @user.errors.any? %>
								<%@user.errors.full_messages.each do |message| %>
									<p class="help is-danger"><%= message %></p>
								<%end %>
							<%end %>
							<div class="field">
								<div class="field">
									<%= f.label :password,"Current Password",class: "label" %>
									<p class="control">
										<%= f.password_field :current_password, class: 'input' %>
									</p>
								</div>
							</div>
							<div class="field">
								<div class="field">
									<%= f.label :password,"New Password",class: "label" %>
									<p class="control">
										<%= f.password_field :password, class: 'input' %>
									</p>
								</div>
							</div>
							<div class="field">
								<%= f.label :password,"Confirmation",class: "label" %>
								<p class="control">
									<%= f.password_field :password_confirmation, class: 'input' %>
								</p>
							</div>
							<div class="field">
								<p class="control">
									<%= f.submit "Update password", class: "button is-primary" %>
								</p>
							</div>
							<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>