<div class="panel is-primary"  id="panel">
	<div class="panel-heading">
		Management
	</div>
	<a class="panel-block  has-text-weight-semibold" href="/company/dashboard">
					<span class="panel-icon">
							<i class="fas fa-columns"></i>
					</span>
		Dashboard
	</a>
	<a class="panel-block  has-text-weight-semibold" href="/company/clients/register">
					<span class="panel-icon">
							<i class="fas fa-user"></i>
					</span>
		      Add New Client
	</a>
	<a class="panel-block has-text-weight-semibold" href="/company/clients">
					<span class="panel-icon ">
							<i class="fas fa-users"></i>
					</span>
		      All Client
	</a>
	<a class="panel-block  has-text-weight-semibold" href="/company/accidents">
					<span class="panel-icon">
						<i class="fas fa-book" aria-hidden="true"></i>
					</span>
		      Accident Report
	</a>
	<a class="panel-block  has-text-weight-semibold" href="/company/employee/email">
					<span class="panel-icon">
						<i class="fas fa-mail-bulk"></i>
					</span>
	      	Change Email
	</a>

	<a class="panel-block  has-text-weight-semibold" href="/company/employee/password">
					<span class="panel-icon">
						<i class="fas fa-unlock-alt"></i>
					</span>
		      Reset Password
	</a>
	<a class="panel-block  has-text-weight-semibold" href="/logout">
					<span class="panel-icon">
						<i class="fas fa-sign-out-alt"></i>
					</span>
		      Sign out
	</a>
</div>