<footer class="footer">
	<div class="has-text-centered">
			<strong>Alinda © 2021</strong> by <a href="#">Carlos Barbier</a>. The source code is licensed
			<a href="#">MIT</a>. The website content
			is licensed <a href="#">CC BY NC SA 4.0</a>.
	</div>
</footer>