<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
				<%= image_tag('logo3.png') %>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
				<div class="navbar-start">
					<%= link_to "About" ,about_path ,class: "navbar-item" %>
					<%= link_to "How it works?",'/how-it-works'  ,class: "navbar-item" %>
					<%= link_to "Contact" ,contact_path ,class: "navbar-item" %>
				</div>
        <div class="navbar-item">
          <div class="buttons">
						<% if Current.user %>
							<div class="dropdown is-hoverable is-right">
								<div class="dropdown-trigger">
									<button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
								<span class="icon is-small">
									<span class="mr-1 ml-3"> <%= Current.user.name %></span>
								<i class="fas fa-angle-down" aria-hidden="true"></i>
							</span>
									</button>
								</div>
								<div class="dropdown-menu  " id="dropdown-menu" role="menu">
									<div class="dropdown-content">
										<div class="dropdown-item">
											<%= link_to "Dashboard" ,company_dashboard_path ,class: "dropdown-item" %>
											<%= link_to "Add New Client" ,company_clients_register_path ,class: "dropdown-item" %>
											<%= link_to "Clients" ,company_clients_path ,class: "dropdown-item" %>
											<%= link_to "Accidents Reports" ,company_accidents_path ,class: "dropdown-item" %>
											<%= link_to "Change Email" ,company_employee_email_path ,class: "dropdown-item" %>
											<%= link_to "Change Password" ,'/company/employee/password' ,class: "dropdown-item" %>
											<hr class="dropdown-divider">
											<%= button_to "Logout",logout_path,method: :delete,class: "button"%>
										</div>
									</div>
								</div>
							</div>
						<%else %>
							<%= link_to "Sign up" ,employee_register_path ,class: "button is-primary" %>
							<%= link_to "Log in" ,employee_login_path ,class: "button is-light" %>
						<%end %>

          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

</nav>
