<div class="container mt-4">
	<div class="columns">
		<div class="column is-one-quarter">
			<%= render partial: "partials/employee_nav" %>
		</div>
		<div class="column">
			<div class="card px-5 card_wrapper">
				<div class="card-content">
					<div class="content">
						<% if @client.errors.any? %>
							<p><% @client.errors.full_messages_for("name")%></p>
							<%@client.errors.full_messages.each do |message| %>
								<p class="help is-danger my-0"><%= message %></p>
							<%end %>
						<%end %>
								<form action="/company/clients/register" method="post" class="my-3">
								<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
								<input type="hidden" name="user_id" value="<%= Current.user.id%>">
								<div class="field">
									<label class="label">First Name</label>
									<p class="control">
										<input class="input" type="text" placeholder="e.g. Karl" name="first_name">
									</p>
								</div>
								<div class="field">
									<label class="label">Last Name</label>
									<p class="control">
										<input class="input" type="text" placeholder="e.g. Max" name="last_name">
									</p>
								</div>
								<div class="field">
									<label class="label">DOB</label>
									<p class="control">
										<input class="input" type="text" placeholder="e.g 16/01/2000" name="dob">
									</p>
								</div>

								<div class="field">
									<label class="label">Address</label>
									<p class="control">
										<input class="input" type="text" placeholder="e.g Baggot Street" name="address">
									</p>
								</div>

								<div class="field">
									<label class="label">Driver License Number</label>
									<p class="control">
										<input class="input" type="text" placeholder="e.g BA888841" name="licence">
									</p>
								</div>

								<div class="field">
									<label class="label">Email</label>
									<p class="control ">
										<input class="input" type="email" placeholder="e.g info@ahoo.com" name="email">
									</p>
								</div>

								<div class="field">
									<label class="label">Phone</label>
									<p class="control">
										<input class="input" type="text" placeholder="e.g +353 88888888888" name="phone">
									</p>
								</div>
								<div class="field">
									<p class="control">
										<button class="button is-primary" type="submit">
											Register
										</button>
									</p>
								</div>
							</form>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>