<div class="container mt-4">
	<div class="columns">
		<div class="column is-one-quarter">
			<%= render partial: "partials/employee_nav" %>
		</div>
		<div class="column">
			<div class="card px-5">
				<div class="card-content">
					<div class="content">
						<% if @client.errors.any? %>
							<p><% @client.errors.full_messages_for("name")%></p>
							<%@client.errors.full_messages.each do |message| %>
								<p class="help is-danger my-0"><%= message %></p>
							<%end %>
						<%end %>
						<% if @car.errors.any? %>
							<p><% @car.errors.full_messages_for("name")%></p>
							<%@car.errors.full_messages.each do |message| %>
								<p class="help is-danger my-0"><%= message %></p>
							<%end %>
						<%end %>
						<div class="steps" id="stepsDemo">
							<div class="step-item is-active">
								<div class="step-marker">1</div>
								<div class="step-details">
									<p class="step-title">Client Info</p>
								</div>
							</div>
							<div class="step-item">
								<div class="step-marker">2</div>
								<div class="step-details">
									<p class="step-title">Car Details</p>
								</div>
							</div>
							<div class="step-item">
								<div class="step-marker">3</div>
								<div class="step-details">
									<p class="step-title">Plan</p>
								</div>
							</div>
							<div class="step-item">
								<div class="step-marker">4</div>
								<div class="step-details">
									<p class="step-title">Payment</p>
								</div>
							</div>
							<div class="step-item">
								<div class="step-marker">5</div>
								<div class="step-details">
									<p class="step-title">Finish</p>
								</div>
							</div>

							<div class="steps-content">
								<form method="post" action="/form" class="mt-5" id="payment-form">
									<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
									<input type="hidden" name="user_id" value="<%= Current.user.id%>">
									<div class="step-content active ">
										<div class="columns is-mobile">
											<div class="column is-11">
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">First Name</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control">
																<input class="input" type="text" placeholder="e.g. Karl" name="first_name">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Last Name</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control has-icon has-icon-right">
																<input class="input" type="text" placeholder="e.g. Max" name="last_name">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">DOB</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control has-icon has-icon-right">
																<input class="input" type="text" placeholder="e.g 16/01/2000" name="dob">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Address</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control">
																<input class="input" type="text" placeholder="e.g Baggot Street" name="address">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Licence</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control has-icon has-icon-right">
																<input class="input" type="text" placeholder="e.g BA888841" name="licence">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Email</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control has-icon has-icon-right">
																<input class="input" type="email" placeholder="e.g info@ahoo.com" name="email">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Phone</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control has-icon has-icon-right">
																<input class="input" type="text" placeholder="e.g +353 88888888888" name="phone">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="step-content">
										<div class="columns is-mobile">
											<div class="column is-11">
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Make</label>
													</div>
													<div class="field-body">
														<div class="select is-fullwidth">
															<select name="make">
																<option selected disabled>Select</option>
																<option value="ABARTH">ABARTH</option>
																<option value="AIRSTREAM">AIRSTREAM</option>
																<option value="ALFA ROMEO">ALFA ROMEO</option>
																<option value="ALVIS">ALVIS</option>
																<option value="ASTON MARTIN">ASTON MARTIN</option>
																<option value="AUDI">AUDI</option>
																<option value="AUSTIN">AUSTIN</option>
																<option value="AVIA">AVIA</option>
																<option value="BENTLEY">BENTLEY</option>
																<option value="BMW">BMW</option>
																<option value="BUICK">BUICK</option>
																<option value="CADILLAC">CADILLAC</option>
																<option value="CHEVROLET">CHEVROLET</option>
																<option value="CHRYSLER">CHRYSLER</option>
																<option value="CITROEN">CITROEN</option>
																<option value="CUPRA">CUPRA</option>
																<option value="DACIA">DACIA</option>
																<option value="DAEWOO">DAEWOO</option>
																<option value="DAIHATSU">DAIHATSU</option>
																<option value="DAIMLER">DAIMLER</option>
																<option value="DODGE">DODGE</option>
																<option value="DS">DS</option>
																<option value="FERRARI">FERRARI</option>
																<option value="FIAT">FIAT</option>
																<option value="FORD">FORD</option>
																<option value="GREAT WALL">GREAT WALL</option>
																<option value="HARLEY-DAVIDSON">HARLEY-DAVIDSON</option>
																<option value="HONDA">HONDA</option>
																<option value="HUMMER">HUMMER</option>
																<option value="HYUNDAI">HYUNDAI</option>
																<option value="INFINITI">INFINITI</option>
																<option value="ISUZU">ISUZU</option>
																<option value="IVECO">IVECO</option>
																<option value="JAGUAR">JAGUAR</option>
																<option value="JEEP">JEEP</option>
																<option value="JOHN DEERE">JOHN DEERE</option>
																<option value="KAWASAKI">KAWASAKI</option>
																<option value="KIA">KIA</option>
																<option value="KUBOTA">KUBOTA</option>
																<option value="LAIKA">LAIKA</option>
																<option value="LAND ROVER">LAND ROVER</option>
																<option value="LDV">LDV</option>
																<option value="LEXUS">LEXUS</option>
																<option value="LOTUS">LOTUS</option>
																<option value="MAN">MAN</option>
																<option value="MASERATI">MASERATI</option>
																<option value="MASSEY FERGUSON">MASSEY FERGUSON</option>
																<option value="MAXUS">MAXUS</option>
																<option value="MAXWELL">MAXWELL</option>
																<option value="MAZDA">MAZDA</option>
																<option value="MCLAREN">MCLAREN</option>
																<option value="MERCEDES-BENZ">MERCEDES-BENZ</option>
																<option value="MG">MG</option>
																<option value="MINI">MINI</option>
																<option value="MITSUBISHI">MITSUBISHI</option>
																<option value="MONACO">MONACO</option>
																<option value="MORGAN">MORGAN</option>
																<option value="MORRIS">MORRIS</option>
																<option value="NISSAN">NISSAN</option>
																<option value="OLDSMOBILE">OLDSMOBILE</option>
																<option value="OPEL">OPEL</option>
																<option value="OSELLA">OSELLA</option>
																<option value="PEUGEOT">PEUGEOT</option>
																<option value="PONTIAC">PONTIAC</option>
																<option value="PORSCHE">PORSCHE</option>
																<option value="RENAULT">RENAULT</option>
																<option value="ROLLS-ROYCE">ROLLS-ROYCE</option>
																<option value="ROVER">ROVER</option>
																<option value="SAAB">SAAB</option>
																<option value="SEAT">SEAT</option>
																<option value="SIZAIRE NAUDIN">SIZAIRE NAUDIN</option>
																<option value="SKODA">SKODA</option>
																<option value="SMART">SMART</option>
																<option value="SSANGYONG">SSANGYONG</option>
																<option value="SUBARU">SUBARU</option>
																<option value="SUZUKI">SUZUKI</option>
																<option value="TALBOT">TALBOT</option>
																<option value="TESLA">TESLA</option>
																<option value="TOYOTA">TOYOTA</option>
																<option value="TRIUMPH">TRIUMPH</option>
																<option value="TVR">TVR</option>
																<option value="UNIC">UNIC</option>
																<option value="VAUXHALL">VAUXHALL</option>
																<option value="VOLKSWAGEN">VOLKSWAGEN</option>
																<option value="VOLVO">VOLVO</option>
																<option value="WINNEBAGO">WINNEBAGO</option>
																<option value="WOLSELEY">WOLSELEY</option>
																<option value="YAMAHA">YAMAHA</option>
															</select></option>
															</select>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Year</label>
													</div>
													<div class="field-body">
														<div class="select  is-fullwidth">
															<select name="year" class="form-control">
																<option selected disabled>Select</option>
																<option value="2022">2022</option>
																<option value="2021">2021</option>
																<option value="2020">2020</option>
																<option value="2019">2019</option>
																<option value="2018">2018</option>
																<option value="2017">2017</option>
																<option value="2016">2016</option>
																<option value="2015">2015</option>
																<option value="2014">2014</option>
																<option value="2013">2013</option>
																<option value="2012">2012</option>
																<option value="2011">2011</option>
																<option value="2010">2010</option>
																<option value="2009">2009</option>
																<option value="2008">2008</option>
																<option value="2007">2007</option>
																<option value="2006">2006</option>
																<option value="2005">2005</option>
																<option value="2004">2004</option>
																<option value="2003">2003</option>
																<option value="2002">2002</option>
																<option value="2001">2001</option>
																<option value="2000">2000</option>
																<option value="1999">1999</option>
																<option value="1998">1998</option>
																<option value="1997">1997</option>
																<option value="1996">1996</option>
																<option value="1995">1995</option>
																<option value="1994">1994</option>
																<option value="1993">1993</option>
																<option value="1992">1992</option>
																<option value="1991">1991</option>
																<option value="1990">1990</option>
																<option value="1989">1989</option>
																<option value="1988">1988</option>
																<option value="1987">1987</option>
																<option value="1986">1986</option>
																<option value="1985">1985</option>
																<option value="1984">1984</option>
																<option value="1983">1983</option>
																<option value="1982">1982</option>
																<option value="1981">1981</option>
																<option value="1980">1980</option>
																<option value="1979">1979</option>
																<option value="1978">1978</option>
																<option value="1977">1977</option>
																<option value="1976">1976</option>
																<option value="1975">1975</option>
																<option value="1974">1974</option>
																<option value="1973">1973</option>
																<option value="1972">1972</option>
																<option value="1971">1971</option>
																<option value="1970">1970</option>
																<option value="1969">1969</option>
																<option value="1968">1968</option>
																<option value="1967">1967</option>
																<option value="1966">1966</option>
																<option value="1965">1965</option>
																<option value="1963">1963</option>
																<option value="1958">1958</option>
																<option value="1957">1957</option>
																<option value="1955">1955</option>
																<option value="1952">1952</option>
																<option value="1951">1951</option>
																<option value="1931">1931</option>
																<option value="1930">1930</option>
																<option value="1926">1926</option>
																<option value="1923">1923</option>
																<option value="1918">1918</option>
																<option value="1911">1911</option>
																<option value="1910">1910</option>
																<option value="1600">1600</option>
																<option value="1500">1500</option>
															</select>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Color</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control has-icon has-icon-right">
																<input class="input" type="text" placeholder="e.g Red" name="color">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Fuel Type</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control">
																<input class="input" type="text" placeholder="e.g Diesel" name="fuel">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Engine Size</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control has-icon has-icon-right">
																<input class="input" type="text" placeholder="e.g 1.6 L" name="engine">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Doors</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control has-icon has-icon-right">
																<input class="input" type="text" placeholder="e.g 5" name="door">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Tax Expiry</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control has-icon has-icon-right">
																<input class="input" type="text" placeholder="e.g May-2020" name="tax">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Transmission</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control has-icon has-icon-right">
																<input class="input" type="text" placeholder="e.g Manual" name="transmission">
															</div>
														</div>
													</div>
												</div>
												<div class="field is-horizontal">
													<div class="field-label is-normal">
														<label class="label">Mileage</label>
													</div>
													<div class="field-body">
														<div class="field">
															<div class="control has-icon has-icon-right">
																<input class="input" type="text" placeholder="e.g 227,000 kms" name="mileage">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="step-content has-text-centered">
										<div class="columns is-mobile">
											<div class="column is-12">
												<div class="control plan_wrapper">
													<% @plans.each do |plan| %>
														<label class="radio tag px-6 mx-6">
															<input type="radio" name="plan_id" class="mx-2" value="<%= plan.id %>">
															<span class="has-text-weight-bold is-size-5"><%= plan.name %></span>
															<span class="ml-2 is-size-7">$<%=  plan.price %></span>
														</label>
													<% end %>
												</div>

											</div>
										</div>
									</div>
									<div class="step-content has-text-centered">
										<div class="columns is-mobile">
											<div class="column is-half is-offset-one-quarter">
												<div class='card-wrapper'></div>
												<div id="card">
													<div class="mx-6 mt-3">
														<input type="text" name="name" class="input" placeholder="Karl Max"/>
													</div>
													<div class="columns mx-6 mt-3 is-gapless">
														<div class="column is-7">
															<input type="text" class="input" name="number" maxlength="19" placeholder="4242 4242 4242 4242"/>
														</div>
														<div class="column is-3 mx-1">
															<input type="text" class="input" name="expiry" placeholder="14/22"/>
														</div>
														<div class="column">
															<input type="text" class="input" name="cvc" placeholder="888"/>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="step-content has-text-centered">
										<h1 class="title is-4">Your account is now created!</h1>
										<button class="button" type="submit">Save Information</button>
									</div>
								</form>
							</div>
							<div class="steps-actions">
								<div class="steps-action">
									<a href="#" data-nav="previous" class="button is-primary">Previous</a>
								</div>
								<div class="steps-action">
									<a href="#" data-nav="next" class="button is-primary">Next</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>