<div class="container mt-4">
	<div class="columns">
		<div class="column is-one-quarter">
			<%= render partial: "partials/employee_nav" %>
		</div>
		<div class="column">
			<%= %>
			<div class="card px-5 card_wrapper">

				<div class="card-content">
					<div class="content">
						<% if @clients.size==0 %>
							<div class="notification is-info is-light">
								No clients registered yet for your company
							</div>
						<% else %>
							<table id="example" class="table is-striped" style="width:100%">
								<thead>
								<tr>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Age</th>
									<th>Licence</th>
									<th>DOB</th>
									<th>
									</th>
								</tr>
								</thead>
								<tbody>

								<% @clients.each do |client|%>
									<tr>
										<td><%= client.first_name %></td>
										<td><%= client.last_name %></td>
										<td><%= client.first_name %></td>
										<td><%= client.licence %></td>
										<td><%= client.dob %></td>
										<td class="has-text-centered">
											<p class="tags is-centered">
												<a href="/company/clients/<%= client.id %>/car/register" class="mx-1"><span class="tag is-info is-clickable">Add Car</span></a>
												<a href="/company/clients/<%= client.id %>/show" class="mx-1"><span class="tag  is-clickable">Details</span></a>
											</p>
										</td>
									</tr>
								<% end %>
								</table>
						<% end %>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>