<div class="container mt-4">
	<div class="columns">
		<div class="column is-one-quarter">
			<%= render partial: "partials/employee_nav" %>
		</div>
		<div class="column">
			<div class="card px-5 card_wrapper">
				<div class="card-content">
					<div class="content">
						<article class="message message_border is-light">
							<div class="message-body">
								<div class="columns">
									<div class="column is-one-fifth">
										<p class="my-1"><strong class="is-bold">Full Name:</strong> </p>
										<p class="my-1"><strong class="is-bold">Age:</strong></p>
										<p class="my-1"><strong class="is-bold">Phone:</strong> </p>
										<p class="my-1"><strong class="is-bold">Licence</strong></p>
									</div>
									<div class="column">
										<p class="my-1"><%=client.full_name%></p>
										<p class="my-1"><%=client.get_age %></p>
										<p class="my-1"><%=client.phone %></p>
										<p class="my-1"><%=client.licence %></p>
									</div>
								</div>

							</div>
						</article>
						<div class="cars">
							<% client.cars.each do |car|%>
									<div class="box ">
										<article class="media">
											<div class="media-left">
												<figure class="image is-128x128">
													<img src="https://img.icons8.com/carbon-copy/100/000000/car--v2.png"/>
												</figure>
											</div>
											<div class="media-content">
												<div class="content">
													<p>
														<span>
															<strong>Insurance Plan</strong>
														  <small class="has-text-primary has-text-weight-bold">
															<%=car.plan.name %> (€ <%=car.plan.price %>)
														 </small>
														</span>
														<span class="from_now"><%=car.created_at %>
													 </span>
														<span class="block is-hoverable is-pulled-right ml-3 ">
														<span class="tag">
															Cancel
															<button class="delete  is-small cancellation" data-id="<%=car.id %>"></button>
														</span>
													</span>

													<span class="block  is-pulled-right is-clickable ">
													<a href="/company/car/<%= car.id  %>/report/create" class="mx-1">
															<span class="tag is-hoverable  ">
															add accident
														</span>
														</a>
													</span>

													</p>
													<hr>
													<div class="columns ">
														<div class="column">
															<div class="icon-text">
																<span class="icon">
																	<i class="far fa-caret-square-down"></i>
																</span>
														  	<span>Make: <%=car.make %> </span>
													  	</div>
															<div class="icon-text">
																<span class="icon">
																<i class="far fa-circle"></i>
																</span>
																<span>Year: <%=car.year %></span>
															</div>
														</div>
														<div class="column">
															<div class="icon-text">
																<span class="icon">
																	<i class="fab fa-mixer"></i>
																</span>
																<span>Color: <%=car.color %></span>
															</div>
															<div class="icon-text">
																<span class="icon">
																<i class="fas fa-pen-square"></i>
																</span>
																<span>Fuel: <%=car.fuel %></span>
															</div>
														</div>
														<div class="column">
															<div class="icon-text">
																<span class="icon ">
																	<i class="far fa-id-badge"></i>
																</span>
																<span>Transmission: <%=car.transmission %></span>
															</div>
															<div class="icon-text">
																<span class="icon">
																<i class="fas fa-film"></i>
																</span>
																<span>Door: <%=car.door %></span>
															</div>
														</div>
													</div>
												</div>


											</div>
										</article>
								</div>
							<%	end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>