<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hey,</p>
<p>Here  your activation code for your employees</p>
<p>--------------------------------------------------------</p>

	Registration code: <strong><%= @company.code %></strong>

<p>--------------------------------------------------------</p>

<p>Thanks</p>

</body>
</html>
