<div class="container mt-4">
	<div class="columns">
		<div class="column is-one-quarter">
			<%= render partial: "partials/employee_nav" %>
		</div>
		<div class="column">
			<div class="card px-5 card_wrapper">
				<div class="card-content">
					<div class="content">
						<%= form_with(url: company_employee_email_path) do |f| %>
							<% if @user.errors.any? %>
								<%@user.errors.full_messages.each do |message| %>
									<p class="help is-danger"><%= message %></p>
								<%end %>
							<%end %>

							<div class="field">
								<div class="field">
									<%= f.label :email,"Email",class: "label" %>
									<p class="control">
										<%= f.email_field :email, class: 'input' ,required: true, value:@user.email  %>
									</p>
								</div>
							</div>
							<div class="field">
								<p class="control">
									<%= f.submit "Update Email", class: "button is-primary" %>
								</p>
							</div>
						<%end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>