<div class="container mt-4">
	<div class="columns">
		<div class="column is-one-quarter">
			<%= render partial: "partials/employee_nav" %>
		</div>
		<div class="column">
			<div class="card px-5 card_wrapper">
				<div class="card-content">
					<div class="content">
						<form action="/accidents/<%=@id%>/edit" method="post" class="my-2">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="user_id" value="<%= Current.user.id %>">
							<input type="hidden" name="car_id" value="<%= @id %>">
							<div class="field">
								<label class="label">Accident Location</label>
								<p class="control">
									<input class="input" type="text" placeholder="e.g May-2020" name="location" value="<%= @accident.location %>">
								</p>
							</div>
							<div class="field">
								<label class="label">Accident Date</label>
								<p class="control">
									<input class="input" type="text" placeholder="e.g 12/12/2020" name="date" value="<%= @accident.date %>">
								</p>
							</div>
							<div class="field">
								<label class="label">Accident Time</label>
								<p class="control">
									<input class="input" type="text" placeholder="e.g 01:52" name="time" value="<%= @accident.time %>">
								</p>
							</div>
							<div class="field">
								<label class="label">Description</label>
								<textarea class="textarea" placeholder="10 lines of textarea" name="description" rows="11" ><%= @accident.description %></textarea>
							</div>
							<div class="field">
								<p class="control">
									<button class="button is-primary" type="submit">
										Register
									</button>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>