<div class="container mt-4">
	<div class="columns">
		<div class="column is-one-quarter">
			<%= render partial: "partials/employee_nav" %>
		</div>
		<div class="column">
			<div class="card px-5 card_wrapper">
				<div class="card-content">
					<div class="content">
						<% if @accidents.size==0 %>
							<div class="notification is-info is-light">
								No accidents registered yet for your company
							</div>
						<% else %>
							<table class="table is-striped" style="width:100%">
								<thead>
								<tr>
									<th>Id</th>
									<th>Date</th>
									<th>Time</th>
									<th>Location</th>
									<th></th>
								</tr>
								</thead>
								<tbody>

								<% @accidents.each do |accident|%>
									<tr>
										<td><%=accident.id %></td>
										<td><%=accident.date %></td>
										<td><%= accident.time %></td>
										<td><%= accident.location %></td>
										<td>
											<div class="tags">
												<a href="/company/accidents/<%= accident.id %>/edit" class="mx-1"><span class=" tag is-success is-clickable">Edit</span></a>
												<a href="/company/accidents/<%= accident.id %>/show" class="mx-1"><span class="tag  is-clickable">Details</span></a>
												<form action="/company/accidents/<%= accident.id %>/delete" method="post">
													<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
													<button class="button tag is-danger py-1" type="submit">Delete</button>
												</form>
											</div>
										</td>
									</tr>
								<% end %>
								</table>
						<%end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>