<div class="container mt-4">
	<div class="columns">
		<div class="column is-one-quarter">
			<%= render partial: "partials/employee_nav" %>
		</div>
		<div class="column">
			<div class="card px-5 card_wrapper">
				<div class="card-content">
					<div class="content">
						<article class="message message_border is-light">
							<div class="message-header">
								<p>Client Info</p>
							</div>
							<div class="message-body">

									<div class="columns">
										<div class="column is-one-fifth py-0">
											<p><strong class="is-bold">Full name: </strong> </p>
										</div>
										<div class="column py-0">
											<p><%=@accident.car.client.first_name %> <%=@accident.car.client.last_name %></p>
										</div>
									</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">DOB: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.car.client.dob %></p>
									</div>
								</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Phone: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.car.client.phone %></p>
									</div>
								</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Licence: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.car.client.licence %></p>
									</div>
								</div>
								</div>

						</article>

						<article class="message is-light message_border">
							<div class="message-header">
								<p>Car Info</p>
							</div>
							<div class="message-body">
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Make: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.car.make %></p>
									</div>
								</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Year: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.car.year %></p>
									</div>
								</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Fuel: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.car.fuel %></p>
									</div>
								</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Transmission: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.car.transmission %></p>
									</div>
								</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Door: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.car.door %></p>
									</div>
								</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Engine: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.car.engine %></p>
									</div>
								</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Mileage: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.car.mileage %></p>
									</div>
								</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Tax Number: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.car.tax %></p>
									</div>
								</div>
							</div>
						</article>
						<article class="message is-light message_border">
							<div class="message-header">
								<p>Accident Info</p>
							</div>
							<div class="message-body">
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Date: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.date %></p>
									</div>
								</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Time: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.time %></p>
									</div>
								</div>
								<div class="columns">
									<div class="column is-one-fifth py-0">
										<p><strong class="is-bold">Location: </strong> </p>
									</div>
									<div class="column py-0">
										<p><%=@accident.location %></p>
									</div>
								</div>
								<div class="columns ">
									<div class="column is-one-fifth py-0 ">
										<p><strong class="is-bold">Description: </strong> </p>
									</div>
									<div class="column py-0">
										<p class="has-text-justified"><%=@accident.description %></p>
									</div>
								</div>

							</div>

						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>