<h1>Password reset</h1>

<p>To reset your password click the link below:</p>

<a href="<%= root_url+'reset/password?token='+@user.token.to_s%>"> Link</a>


<p>
	If you did not request your password to be reset, please ignore this email and
	your password will stay as it is.
</p>
