<div class="container py-6 form__container">
  <div class="columns is-multiline is-mobile">
    <div class="column is-half is-offset-one-quarter">
      <h3 class="title is-3 has-text-centered is-capitalized ">Company Registration</h3>
      <hr class="mb-4">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <% if @company.errors.any? %>
              <%@company.errors.full_messages.each do |message| %>
                <p  class="help is-danger my-1"><%= message %></p>
              <%end %>
            <%end %>
            <form action="/company/register" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <div class="field">
                <label class="label">Name</label>
                <p class="control has-icons-left ">
                  <input class="input" type="text" placeholder="e.g. Facebook" name="name">
                  <span class="icon is-small is-left ">
							   <i class="far fa-user"></i>
							   </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Address</label>
                <p class="control has-icons-left ">
                  <input class="input" type="text" placeholder="e.g. Baggot Street Upper Dublin" name="address">
                  <span class="icon is-small is-left ">
							    <i class="fas fa-map-marker-alt"></i>
							   </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Country</label>
                <p class="control has-icons-left ">
								<div class="select is-fullwidth">
									<select name="country">
										<option selected disabled>Select</option>
										<% @countries.each do |country| %>
											<option value="<%=country[:name] %>" ><%= country[:name] %></option>
										<% end %>
									</select>
								</div>
                </p>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <p class="control has-icons-left ">
                  <input class="input" type="email" placeholder="e.g info@ahoo.com" name="email">
                  <span class="icon is-small is-left ">
							     <i class="fas fa-envelope email_icon"></i>
							   </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Phone</label>
                <p class="control has-icons-left ">
                  <input class="input" type="text" placeholder="e.g +353 88888888888" name="phone">
                  <span class="icon is-small is-left ">
							     <i class="fas fa-mobile-alt"></i>
							   </span>
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <button class="button is-primary" type="submit">
                    Register
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
