
html, body {
    background-color: #fafafa;
    height: 100%;
    width: 100%;

}
main{
    min-height: 80vh;
    background-color: #fafafa;
    padding: 35px 0;
}

.navbar {
    height: 80px;
}

.navbar-start .navbar-item {
    font-weight: 600;
}

.navbar-start .navbar-item:hover {
    background: #ffffff;
    color: black;
}

.input:focus {
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.notification {
    position: absolute;
}

.dropdown-trigger button {
    border: 0 !important;
}

.dropdown-content {
    position: relative;
    left: 30% !important;
}

.hero_wrapper {
    height: 600px;
    background: #fff;
}

.hero_wrapper colums {
    height: 600px;
    background: #fff;
}

.image__hero {
    background-image: url("./undraw_towing_6yy4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.call__action_card_wrapper {
    height: 450px;
    padding-top: 60px;
    background-color: #F4F5F7 !important;;
}

.call__action_card_wrapper p {
    font-weight: 600;
    word-spacing: 1px !important;
}

.customer, .business {
    color: #00d1b2;
    font-size: 40px;
}

.btn__action {
    margin-top: 42px;
    font-weight: 500;
    font-size: 22px;
}
#panel {
    height: 95vh !important;
}


.icon__large {
    font-size: 68px;
}
.message_border{
    border-left: 4px solid #00d1b2 !important;;
}
.message-header{
    background: transparent !important;
    color: black !important;
    font-size: 18px;
}
.accident{
    background: #ffffff !important;
}
.flash{
    min-width: 100% !important;
}
.navbar-start{
    margin: 0 45px !important;
}

footer.footer{
    background: #F4F6F8 !important;
    padding: 20px 0 !important;
}