<div class="container py-6">
	<div class="columns">
		<div class="column is-one-quarter">
			<%= render partial: "partials/employee_nav" %>
		</div>
		<div class="column">
			<div class="card">
				<div class="card-content px-5 card_wrapper">
					<div class="content">
						<section class="section is-main-section">

							<div class="tile is-ancestor">
								<div class="tile is-parent">
									<div class="card tile is-child">
										<div class="card-content">
											<div class="level is-mobile">
												<div class="level-item">
													<div class="is-widget-label"><h3 class="subtitle is-spaced">
														New Crash
													</h3>
														<h1 class="title has-text-centered">
															<%=@car_last_24_crashed %>
														</h1>
													</div>
												</div>
												<div class="level-item has-widget-icon">
													<div class="is-widget-icon">
														<span class="icon has-text-info is-large">
															<i class="fas fa-car-crash icon__large"></i>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tile is-parent">
									<div class="card tile is-child">
										<div class="card-content">
											<div class="level is-mobile">
												<div class="level-item">
													<div class="is-widget-label"><h3 class="subtitle is-spaced">
														Cancellation
													</h3>
														<h1 class="title has-text-centered">
															<%=@cancellation_total%>
														</h1>
													</div>
												</div>
												<div class="level-item has-widget-icon">
													<div class="is-widget-icon"><span class="icon has-text-warning is-large"><i class="fas fa-external-link-alt icon__large"></i></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tile is-ancestor">
								<div class="tile is-parent">
									<div class="card tile is-child">
										<div class="card-content">
											<div class="level is-mobile">
												<div class="level-item">
													<div class="is-widget-label"><h3 class="subtitle is-spaced">
														Clients
													</h3>
														<h1 class="title has-text-centered">
															<%=@client_total %>
														</h1>
													</div>
												</div>
												<div class="level-item has-widget-icon">
													<div class="is-widget-icon"><span class="icon has-text-primary is-large"><i class="far fa-user icon__large"></i></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tile is-parent">
									<div class="card tile is-child">
										<div class="card-content">
											<div class="level is-mobile">
												<div class="level-item">
													<div class="is-widget-label"><h3 class="subtitle is-spaced">
														Accident
													</h3>
														<h1 class="title has-text-centered">
															<%=@accident_total %>
														</h1>
													</div>
												</div>
												<div class="level-item has-widget-icon">
													<div class="is-widget-icon"><span class="icon has-text-danger is-large"><i class="icofont-ui-user icon__large"></i> </span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tile is-parent">
									<div class="card tile is-child">
										<div class="card-content">
											<div class="level is-mobile">
												<div class="level-item">
													<div class="is-widget-label"><h3 class="subtitle is-spaced">
														Subscription
													</h3>
														<h1 class="title has-text-centered">
															<%=@subscription_total %>
														</h1>
													</div>
												</div>
												<div class="level-item has-widget-icon">
													<div class="is-widget-icon"><span class="icon has-text-success is-large"><i class="fas fa-car icon__large"></i></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tile is-ancestor">
								<div class="tile is-parent">
									<div class="card tile is-child">
										<div class="card-content">
											<div class="level is-mobile">
												<div class="level-item">
													<div class="is-widget-label"><h3 class="subtitle is-spaced">
														Active Subscription
													</h3>
														<h1 class="title has-text-centered">
														<%=@active_total %>
														</h1>
													</div>
												</div>
												<div class="level-item has-widget-icon">
													<div class="is-widget-icon"><span class="icon has-text-info is-large"><i class="fas fa-money-check icon__large"></i></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tile is-parent">
									<div class="card tile is-child">
										<div class="card-content">
											<div class="level is-mobile">
												<div class="level-item">
													<div class="is-widget-label"><h3 class="subtitle is-spaced">
														New Clients
													</h3>
														<h1 class="title has-text-centered">
														<%=@new_client_total %>
														</h1>
													</div>
												</div>
												<div class="level-item has-widget-icon">
													<div class="is-widget-icon"><span class="icon has-text-light is-large"><i class="far fa-plus-square icon__large"></i></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>