<!DOCTYPE html>
<html>
<head>
  <title>Alinda: The system built for companies</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.0/card.css" integrity="sha512-d6dVPFBEyd4jG/JzqKC28ufY5jDvRH1nCfMHtTeviTHZEFC/MPeGVMkRsF1H6nPAetV298wFbqXn+n0CUjBQiQ==" crossorigin="anonymous" />
  <%= favicon_link_tag asset_path('alinda-fav2.png') %>

</head>

<body>

  <%= render partial: "partials/nav" %>
  <main>
		<div class="container">
			<% if request.path =="/employee/login" || request.path =="/employee/register" || request.path=="/employee/forgot-password" ||request.path=="/reset/password" %>
				<div class="columns is-mobile">
					<div class="column is-half is-offset-one-quarter">
						<%= render partial: "partials/flash" %>
					</div>
				</div>
				<%else %>
				<div class="columns is-mobile">
					<div class="column">
						<%= render partial: "partials/flash" %>
					</div>
				</div>
			<% end %>

		</div>
    <%= yield %>
  </main>
  <%= render partial: "partials/footer"%>
<%= javascript_pack_tag 'application' %>
</body>
</html>
